@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
p{
    text-align: justify;
}
.list{
    margin-left: 30px;
}
.container{
    display: flex;
    flex-direction: column;
}
.field{
    display: flex;
    flex-direction: column;
}
.merah{
    border: 1px solid red;
}

.alert{
    background-color: red;
    padding: 10px;
    display: none;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    transition: 0.6s ease-in;
}
input[type=text] {
    width: 100%;
    padding: 10px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size:1rem;
    font-weight:800;
}
#main{
    /* width: 800px; */
    display: flex;
    justify-content: space-evenly;
    margin: auto 100px
}
.colm-1{
    width: 450px;
}
.formkalkulasi{
    padding: 20px;
    background-color: #abb4b8;
   
    /* background-color: aqua; */
}
.informasi{
    width: 450px;
}

.hasil{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #abb4b8;
}

.recomen{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #abb4b8;
}
.btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 8px;
    }
    .btn1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    }

    .btn1:hover {
    background-color: #008CBA;
    color: white;
    }
    .btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #6c6e6e;
    }

    .btn2:hover {
    background-color: #6c6e6e;
    color: white;
    }

    .info-hasil{
        display: none;
        flex-direction: column;
        transition: all 0.3s ease-in;
    }